/* #### COLOR PALETTE & VARIABLES #### */
$primary: #141414;
$secondary: #0061fd;
$primary-light: #2f2f2f;
$black: #000000;
$jet: #38383a;
$magnolia: #ebebf5;
$magnolia-light: #ebebf599;
$white: #ffffff;
$malachite: #32d74b;
$pistachio: #b1dd8b;
$dark-green: #38571a;
// misc variables
$default-transition: all 300ms ease-in-out;

$breakpoints-up: (
  "xs": "480px",
  "sm": "576px",
  "md": "768px",
  "lg": "992px",
  "xl": "1200px",
  "xxl": "1400px",
);

$breakpoints-down: (
  "xs": "479.98px",
  "sm": "575.98px",
  "md": "767.98px",
  "lg": "991.98px",
  "xl": "1199.98px",
  "xxl": "1399.98px",
);